$secondary-red: #ffcbcb;


.header {

    display: flex;
    padding-bottom: 1vw;
    background-color: $secondary-red;
    z-index: 2;

    .header-principal {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2vw;

    }
}