$primary-red: #ee6464;
$background-red: #fdbfbf;
$button-red: #c23a3a;

.tomato {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2vw;
    background-color: #ee6464;
    position: relative;

    @media screen and (max-width: 1000px) {
        max-height: 500px;
    }

    .inputContainer { 
        display: flex;
        flex-direction: column;
        flex: 2;

        .inputTime {
        width: 15vw;
        margin: 0 auto;
        font-size: 1vw;
        outline: solid 1px $primary-red;
        padding: 5px;
        border-radius: 0.5vw;
        color: $primary-red;
        font-weight: 500;
        
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    
        &::placeholder {
        color: $primary-red;
        font-weight: 600;
        }
    }
    
    
    .inputText {
        margin: 1vw auto;    
        font-size: 1vw;  
        
        @media screen and (min-width: 1200px) and (max-width: 1500px) {
            font-size: 15px;
        }

        @media screen and (min-width: 900px) and (max-width: 1200px) {
            font-size: 12px;
        }

        @media screen and (min-width: 600px) and (max-width: 900px) {
            font-size: 9px;
        }

        @media screen and (max-width: 600px) {
            font-size: 6px;
            margin: 0.5vw auto;
        }


        color: white;
    }
}


.tomatoImage {
    width: 25vw;
    display: flex;
    position: absolute;
    margin-left: 36vw;
    margin-top: 10vw;
 
    @media screen and (min-width: 900px) and (max-width: 1000px) {
        max-width: 200px;
        margin-left: 39vw;
    }

    @media screen and (min-width: 700px) and (max-width: 900px) {
        max-width: 150px;
        margin-left: 40vw
    }

    @media screen and (min-width: 300px) and (max-width: 500px) {
        max-width: 100px;
        margin-left: 37vw;
    }

    &::selection {
        outline: none;
        background-color: transparent;
    }
}

    .tomatoStart {
        color: white;
        display: flex;
        z-index: 10;
        justify-content: center;
        font-size: 3rem;
        cursor: pointer;
        width: 10%;
        height: 10%;
        margin: 0 44vw;
        background-color: $button-red;
        border-radius: 10px;
        align-items: center;
        outline: none;

        @media screen and (min-width: 800px) and (max-width: 1200px) {
            font-size: 2rem;
            margin-right: 2vw;
        }

        @media screen and (max-width: 800px) {
            font-size: 1rem;
            margin-right: 2vw;
        }

        &:hover {
            background-color: white;
            color: $primary-red
        }
    }
}